.error-mesage-input-new-toDo{
    color: red;
    visibility: hidden;
    &.visible{
        visibility: visible;
    }
}
.error-mesage-input-edit-toDo{
    color: red;
    visibility: hidden;
    &.visible{
        visibility: visible;
    }
}