#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 var(--size-3);
}

#to-do-list {
    flex: 1;
}

#input-section {
    display: flex;
    input {
        flex: 1;        
    }
    button {
        margin: 0 var(--size-3);
    }
}
#title-section {
    display: flex;
    h1 {
        flex: 1;        
    }
    button {
        margin-top: 20px;
        width: 75px;
        height: 25px;
        border: 0;
        background-color: unset;
        background-repeat: no-repeat;
        padding-left: 30px;
        &[data-language="es-MX"]{
            background-image: url('../images/mx.svg');
        }
        &[data-language="en-US"]{
            background-image: url('../images/us.svg');
        }
        
    }
}

